<h1 class="completedmessage">
  <span class="blue"></span>You have mastered <span class="blue"></span>
  <span class="yellow">{{ totalSkills }} %</span> of all Skills
</h1>
<table class="container">
  <thead>
    <tr>
      <th><h1>Topic</h1></th>
      <th><h1>Beginner</h1></th>
      <th><h1>Advanced</h1></th>
      <th><h1>Expert</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let skillgroup of user.teacherSkills">
      <td>{{ skillgroup.skillTopic }}</td>
      <td *ngFor="let skillLevel of skillgroup.skillLevels; let level = index">
        <table class="subskills">
          <td>
            <div
              *ngFor="let subskill of skillLevel.subSkills; let i = index"
              class="skill-area"
              [ngClass]="
                subskill.isChecked ? 'skill-checked' : 'skill-not-checked'
              "
              (click)="CheckSkill(subskill, skillgroup, level, i)"
            >
              <span class="skill-description">
                {{ subskill.description }}
              </span>
              <button
                class="btn btn-info"
                (click)="openPdf(subskill, $event)"
                *ngIf="subskill.showPdf"
              >
                Pdf
              </button>
              <button
                class="btn btn-info"
                (click)="openVideo(subskill, $event)"
                *ngIf="subskill.showVideo"
              >
                Video
              </button>
            </div>
          </td>
        </table>
      </td>
    </tr>
  </tbody>
</table>
