<h1 class="completedmessage">
  <span class="blue"></span>You have mastered <span class="blue"></span>
  <span class="yellow">{{ totalSkills }} %</span> of all Skills
</h1>
<table class="container">
  <thead>
    <tr>
      <th><h1>Topic</h1></th>
      <th><h1>Skill</h1></th>
      <th><h1>Skill</h1></th>
      <th><h1>Skill</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let skillgroup of user.SkillGroup">
      <td>{{ skillgroup.SkillTopic }}</td>
      <td
        *ngFor="let skill of skillgroup.Skills"
        class="skill-area"
        [ngClass]="skill.IsChecked ? 'skill-checked' : 'skill-not-checked'"
        (click)="CheckSkill(skill, skillgroup)"
      >
        <span class="skill-description">{{ skill.Description }}</span>
      </td>
    </tr>
  </tbody>
  <button class="btn btn-primary" (click)="saveSkills()">Save</button>
</table>
