.completedmessage {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  color: #58a6ff;
}

.blue {
  color: #185875;
}
.yellow {
  color: #2cda9d;
}

.btn-info {
  float: right;
  margin: 0px 10px;
  padding: 0px 5px;
  color: white;
  background-color: #161b22 !important;
  border-color: #161b22 !important;
}

.btn-info:hover {
  background-color: #e0e2db !important;
  border-color: #e0e2db !important;
  color: black;
  padding: 0px 5px;
}

/* Background-color of the odd rows */
.container tr {
  .skill-checked {
    background-color: rgb(0 255 84 / 31%);
    color: white;
  }

  .skill-not-checked {
    color: #c2c1c1;
  }
}

.container td:first-child {
  cursor: default;
  color: #01161e;
  font-size: 20px;
  font-weight: bold;
}

.skill-description {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
  max-width: 5vw;
}

.skill-area {
  cursor: pointer;
}
.subskills {
  width: 100%;
}
.btn-primary {
  margin: 15px 0px;
}

.container th h1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #58a6ff;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  max-width: 15vw;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td,
.container th {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
}

.container td:first-child {
  color: #38aab3;
}

.container div:hover.skill-area.skill-not-checked {
  background-color: #497750;
  color: white;

  box-shadow: #497750 -1px 1px, #497750 -2px 2px, #497750 -3px 3px,
    #497750 -4px 4px, #497750 -5px 5px, #497750 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

.container div:hover.skill-area.skill-checked {
  background-color: #960404c2;
  color: white;

  box-shadow: #960404c2 -1px 1px, #960404c2 -2px 2px, #960404c2 -3px 3px,
    #960404c2 -4px 4px, #960404c2 -5px 5px, #960404c2 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}
