<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a id="staffbite" class="navbar-brand" href="">STAFFBITE</a>
    <div class="d-flex">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <a href="/dashboard" class="profile-btn" *ngIf="!user">
          <img src="https://avatars.githubusercontent.com/u/63245314?v=4" />
          <span>Myffo</span>
        </a>
        <a href="/dashboard" class="profile-btn" *ngIf="user">
          <img src="https://avatars.githubusercontent.com/u/63245314?v=4" />
          <span>{{ user.username }}</span>
        </a>
      </ul>
    </div>
  </div>
</nav>
<ng-content></ng-content>
