.eye-icon {
  height: 20px;
}

.settings-card {
  padding: 30px;
  border-radius: 30px;
  color: #c9d1d9;
  border: 1px solid rgba(56, 139, 253, 0.4);
  background-image: linear-gradient(
    rgba(56, 139, 253, 0.15),
    rgba(56, 139, 253, 0.15)
  );

  .header {
    margin-bottom: 20px;
    border-bottom: 2px dashed #01161e;
  }
}

.btn-primary {
  background-color: #01161e;
  border-color: #01161e;
}

.btn-primary:hover {
  background-color: #5f7470;
  border-color: #5f7470;
}
