<div class="col-4">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      [(ngModel)]="user.Email"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="Password" class="form-label">New Password</label>
    <a class="show-password">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-eye"
      >
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
        <circle cx="12" cy="12" r="3"></circle>
      </svg>
    </a>
    <input
      type="password"
      class="form-control"
      id="Password"
      [(ngModel)]="newPassword"
      *ngIf="!showPassword"
    />
    <input
      type="text"
      class="form-control"
      *ngIf="showPassword"
      [(ngModel)]="newPassword"
    />
  </div>
  <div class="mb-3">
    <label for="newPassword" class="form-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      aria-describedby="confirmPasswordHelp"
      id="newPassword"
      [(ngModel)]="newPassword"
      *ngIf="!showPassword"
    />
    <input
      type="text"
      class="form-control"
      aria-describedby="confirmPasswordHelp"
      *ngIf="showPassword"
      [(ngModel)]="newPassword"
    />
    <div id="confirmPasswordHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</div>
