.completedmessage {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  color: #58a6ff;
}

.blue {
  color: #185875;
}
.yellow {
  color: #2cda9d;
}

.current-skills {
  width: 100%;
}

/* Background-color of the odd rows */
.current-skills tr {
  border-bottom: 1px solid #21262d;

  .skill-checked {
    background-color: rgb(0 255 84 / 31%);
    color: white;
  }

  .skill-not-checked {
    color: #c2c1c1;
  }
}

.current-skills td:first-child {
  cursor: default;
  color: #01161e;
  font-size: 20px;
  font-weight: bold;
}

.skill-description {
  font-family: "Roboto", sans-serif;
  font-size: 0.75em;
}

.subskills {
  width: 100%;
}

.skill-area {
  color: white;
}

.btn-primary {
  margin: 15px 0px;
}
.btn-info {
  float: right;
  margin: 0px 10px;
  padding: 0px 5px;
  color: white;
  background-color: #161b22 !important;
  border-color: #161b22 !important;
}

.btn-info:hover {
  background-color: #e0e2db !important;
  border-color: #e0e2db !important;
  color: black;
  padding: 0px 5px;
}

.white-border {
  border: 1px solid white;
  border-radius: 30px;
  margin: 20px 0px;
  padding: 20px;
}
.current-skills th h1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #58a6ff;
}

.current-skills td {
  font-weight: normal;
  font-size: 1em;
  max-width: 15vw;
}

.current-skills td,
.current-skills th {
  padding-bottom: 1%;
  padding-top: 1%;
  padding-left: 1%;
}

.current-skills td:first-child {
  color: #38aab3;
  max-width: 5vw;
}

@media (max-width: 800px) {
  .current-skills td:nth-child(4),
  .current-skills th:nth-child(4) {
    display: none;
  }
}

.header {
  padding: 0;
}

.margin-skill {
  margin: 0 0 0 15px;
}

.btn-primary {
  margin-bottom: 15px;
  margin-top: 15px;
}

.skill-form {
  height: 5rem;
}

.active-skill {
  background-color: #01161e !important;
  border-color: #01161e !important;
  color: white !important;
}

.settings-card {
  padding: 30px 30px 15px 30px;
  border-radius: 30px;
  color: #c9d1d9;
  border: 1px solid rgba(56, 139, 253, 0.4);
  background-image: linear-gradient(
    rgba(56, 139, 253, 0.15),
    rgba(56, 139, 253, 0.15)
  );

  .header {
    margin-bottom: 20px;
    border-bottom: 2px dashed #01161e;
  }
}

.skill-button {
  background-color: #e0e2db;
  border-color: #e0e2db;
  color: #01161e;
}

.save-button {
  color: #01161e;
  background-color: #58a6ff;
  border-color: #58a6ff;
}

.save-button:hover {
  color: #01161e;
  background-color: #2cda9d;
  border-color: #2cda9d;
}

.new-subskill-description:hover {
  cursor: pointer;
  color: #58a6ff;
}
