<div class="row align-items-start">
  <div class="col-8">
    <table class="current-skills">
      <thead>
        <tr>
          <th><h1>Topic</h1></th>
          <th><h1>Beginner</h1></th>
          <th><h1>Advanced</h1></th>
          <th><h1>Expert</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skillgroup of currentSkills; let i = index">
          <td>{{ skillgroup.skillTopic }}</td>
          <td *ngFor="let skillLevel of skillgroup.skills">
            <table class="subskills">
              <td>
                <div
                  *ngFor="let subskill of skillLevel.subSkills"
                  class="skill-area"
                >
                  <span class="skill-description">
                    {{ subskill.description }}
                  </span>
                  <button
                    class="btn btn-info"
                    (click)="openPdf(subskill, $event)"
                    *ngIf="subskill.showPdf"
                  >
                    Pdf
                  </button>
                  <button
                    class="btn btn-info"
                    (click)="openVideo(subskill, $event)"
                    *ngIf="subskill.showVideo"
                  >
                    Video
                  </button>
                </div>
              </td>
            </table>
          </td>
          <td style="width: 10vw">
            <button class="btn btn-info" (click)="deleteSkill(i)">
              delete
            </button>
            <button class="btn btn-info" (click)="editSkill(skillgroup, i)">
              edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div class="settings-card" *ngIf="!isEditing">
      <div class="mb-3">
        <div class="header">
          <h4>Add Skills</h4>
        </div>
        <label for="topic" class="form-label">Topic</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newSkill.skillTopic"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <button
          class="skill-button btn btn-primary"
          [ngClass]="activeSkill === 1 ? 'active-skill' : ''"
          (click)="changeSkill(1)"
        >
          Beginner
        </button>
        <button
          [ngClass]="activeSkill === 2 ? 'active-skill' : ''"
          class="skill-button btn btn-primary margin-skill"
          (click)="changeSkill(2)"
        >
          Advanced
        </button>
        <button
          [ngClass]="activeSkill === 3 ? 'active-skill' : ''"
          class="skill-button btn btn-primary margin-skill"
          (click)="changeSkill(3)"
        >
          Expert
        </button>

        <textarea
          class="form-control skill-form"
          [(ngModel)]="beginnerDescription"
          *ngIf="activeSkill === 1"
        ></textarea>
        <textarea
          class="form-control skill-form"
          [(ngModel)]="advancedDescription"
          *ngIf="activeSkill === 2"
        ></textarea>
        <textarea
          class="form-control skill-form"
          [(ngModel)]="expertDescription"
          *ngIf="activeSkill === 3"
        ></textarea>
        <div>
          <label>PDF Link:</label>
          <input type="text" class="form-control" [(ngModel)]="pdfLink" />
        </div>
        <div>
          <label>Video Link:</label>
          <input type="text" class="form-control" [(ngModel)]="videoLink" />
        </div>
        <button class="skill-button btn btn-primary" (click)="addSubSkill()">
          Add subskill
        </button>
        <div class="white-border">
          <div>
            <label>Beginner:</label>
            <span *ngIf="newSkill.skills[0]">
              <span
                *ngFor="
                  let subskill of newSkill.skills[0].subSkills;
                  let i = index
                "
                (click)="editSusbkill(subskill, i, 'beginner')"
              >
                {{ subskill.description }},
              </span>
            </span>
          </div>
          <div>
            <label>Advanced:</label>
            <span *ngIf="newSkill.skills[1]">
              <span
                *ngFor="
                  let subskill of newSkill.skills[1].subSkills;
                  let i = index
                "
                (click)="editSusbkill(subskill, i, 'advanced')"
              >
                {{ subskill.description }},
              </span>
            </span>
          </div>
          <div>
            <label>Expert:</label>
            <span *ngIf="newSkill.skills[2]">
              <span
                *ngFor="
                  let subskill of newSkill.skills[2].subSkills;
                  let i = index
                "
                (click)="editSusbkill(subskill, i, 'expert')"
              >
                {{ subskill.description }},
              </span>
            </span>
          </div>
        </div>
      </div>

      <button class="btn btn-primary save-button" (click)="saveSkill()">
        Save
      </button>
    </div>
    <div class="settings-card" *ngIf="isEditing">
      <div class="mb-3">
        <div class="header">
          <h4>Edit Skills</h4>
        </div>
        <label for="topic" class="form-label">Topic</label>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="editedSkill.skillTopic"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <button
          class="skill-button btn btn-primary"
          [ngClass]="activeSkill === 1 ? 'active-skill' : ''"
          (click)="changeSkill(1)"
          [disabled]="editingSubSkill"
        >
          Beginner
        </button>
        <button
          [ngClass]="activeSkill === 2 ? 'active-skill' : ''"
          class="skill-button btn btn-primary margin-skill"
          (click)="changeSkill(2)"
          [disabled]="editingSubSkill"
        >
          Advanced
        </button>
        <button
          [ngClass]="activeSkill === 3 ? 'active-skill' : ''"
          class="skill-button btn btn-primary margin-skill"
          (click)="changeSkill(3)"
          [disabled]="editingSubSkill"
        >
          Expert
        </button>

        <textarea
          class="form-control skill-form"
          [(ngModel)]="beginnerDescription"
          *ngIf="activeSkill === 1"
        ></textarea>
        <textarea
          class="form-control skill-form"
          [(ngModel)]="advancedDescription"
          *ngIf="activeSkill === 2"
        ></textarea>
        <textarea
          class="form-control skill-form"
          [(ngModel)]="expertDescription"
          *ngIf="activeSkill === 3"
        ></textarea>
        <div>
          <label>PDF Link:</label>
          <input type="text" class="form-control" [(ngModel)]="pdfLink" />
        </div>
        <div>
          <label>Video Link:</label>
          <input type="text" class="form-control" [(ngModel)]="videoLink" />
        </div>
        <button
          class="skill-button btn btn-primary"
          (click)="saveEditedSubskill()"
          *ngIf="editingSubSkill"
        >
          Save subskill
        </button>
        <button
          class="skill-button btn btn-primary margin-skill"
          (click)="deleteSubskill()"
          *ngIf="editingSubSkill"
        >
          Delete Subskill
        </button>
        <button
          class="skill-button btn btn-primary"
          (click)="addSubSkill()"
          *ngIf="!editingSubSkill"
        >
          Add subskill
        </button>
        <div class="white-border">
          <div>
            <label>Beginner:</label>
            <span *ngIf="editedSkill.skills[0]">
              <span
                class="new-subskill-description"
                *ngFor="
                  let subskill of editedSkill.skills[0].subSkills;
                  let i = index
                "
                (click)="editSusbkill(subskill, i, 'beginner')"
              >
                {{ subskill.description }},
              </span>
            </span>
          </div>
          <div>
            <label>Advanced:</label>
            <span *ngIf="editedSkill.skills[1]">
              <span
                class="new-subskill-description"
                *ngFor="
                  let subskill of editedSkill.skills[1].subSkills;
                  let i = index
                "
                (click)="editSusbkill(subskill, i, 'advanced')"
              >
                {{ subskill.description }},
              </span>
            </span>
          </div>
          <div>
            <label>Expert:</label>
            <span *ngIf="editedSkill.skills[2]">
              <span
                class="new-subskill-description"
                *ngFor="
                  let subskill of editedSkill.skills[2].subSkills;
                  let i = index
                "
                (click)="editSusbkill(subskill, i, 'expert')"
              >
                {{ subskill.description }},
              </span>
            </span>
          </div>
        </div>
      </div>
      <button class="btn btn-primary save-button" (click)="saveEditedSkill()">
        Save
      </button>
    </div>
  </div>
</div>
