.completedmessage {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  color: #58a6ff;
}

.blue {
  color: #185875;
}
.yellow {
  color: #2cda9d;
}

/* Background-color of the odd rows */
.container tr {
  border-bottom: 1px solid #21262d;

  .skill-checked {
    background-color: rgb(0 255 84 / 31%);
    color: white;
  }

  .skill-not-checked {
    color: #c2c1c1;
  }
}

.container td:first-child {
  cursor: default;
  color: #01161e;
  font-size: 20px;
  font-weight: bold;
}

.skill-description {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.skill-area {
  max-width: 15vw;
  cursor: pointer;
}

.btn-primary {
  margin: 15px 0px;
}

.container th h1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #58a6ff;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container td,
.container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

.container td:first-child {
  color: #38aab3;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}

.header {
  padding: 0;
}

.margin-skill {
  margin: 0 0 0 15px;
}

.btn-primary {
  margin-bottom: 15px;
  margin-top: 15px;
}

.skill-form {
  height: 5rem;
}

.active-skill {
  background-color: #01161e !important;
  border-color: #01161e !important;
  color: white !important;
}

.settings-card {
  padding: 30px;
  border-radius: 30px;
  color: #c9d1d9;
  border: 1px solid rgba(56, 139, 253, 0.4);
  background-image: linear-gradient(
    rgba(56, 139, 253, 0.15),
    rgba(56, 139, 253, 0.15)
  );

  .header {
    margin-bottom: 20px;
    border-bottom: 2px dashed #01161e;
  }
}

.skill-button {
  background-color: #e0e2db;
  border-color: #e0e2db;
  color: #01161e;
}

.btn-primary:hover {
  background-color: #5f7470;
  border-color: #5f7470;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}
