<div class="row align-items-start">
  <div class="col-8">
    <table class="current-skills">
      <thead>
        <tr>
          <th><h1>Topic</h1></th>
          <th><h1>Beginner</h1></th>
          <th><h1>Advanced</h1></th>
          <th><h1>Expert</h1></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let skillgroup of currentSkills">
          <td>{{ skillgroup.SkillTopic }}</td>
          <td *ngFor="let skillLevel of skillgroup.Skills">
            <table class="subskills">
              <td>
                <div
                  *ngFor="let subskill of skillLevel.SubSkills"
                  class="skill-area"
                >
                  <span class="skill-description">
                    {{ subskill.Description }}
                  </span>
                  <button
                    class="btn btn-info"
                    (click)="openPdf(subskill, $event)"
                    *ngIf="subskill.ShowPdf"
                  >
                    Pdf
                  </button>
                  <button
                    class="btn btn-info"
                    (click)="openVideo(subskill, $event)"
                    *ngIf="subskill.ShowVideo"
                  >
                    Video
                  </button>
                </div>
              </td>
            </table>
          </td>
          <td style="width: 5vw">
            <button class="btn btn-info" (click)="deleteSkill(skillgroup)">
              delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div class="settings-card">
      <div class="mb-3">
        <div class="header">
          <h4>Define new Skills</h4>
        </div>
        <label for="topic" class="form-label">Topic</label>
        <div class="input-group mb-3">
          <input
            type="text"
            id="topic"
            class="form-control"
            [(ngModel)]="newSkill.SkillTopic"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <button
          class="skill-button btn btn-primary"
          [ngClass]="activeSkill === 1 ? 'active-skill' : ''"
          (click)="changeSkill(1)"
        >
          Beginner
        </button>
        <button
          [ngClass]="activeSkill === 2 ? 'active-skill' : ''"
          class="skill-button btn btn-primary margin-skill"
          (click)="changeSkill(2)"
        >
          Advanced
        </button>
        <button
          [ngClass]="activeSkill === 3 ? 'active-skill' : ''"
          class="skill-button btn btn-primary margin-skill"
          (click)="changeSkill(3)"
        >
          Expert
        </button>

        <textarea
          class="form-control skill-form"
          id="skill1"
          [(ngModel)]="beginnerDescription"
          *ngIf="activeSkill === 1"
        ></textarea>
        <textarea
          class="form-control skill-form"
          id="skill2"
          [(ngModel)]="advancedDescription"
          *ngIf="activeSkill === 2"
        ></textarea>
        <textarea
          class="form-control skill-form"
          id="skill3"
          [(ngModel)]="expertDescription"
          *ngIf="activeSkill === 3"
        ></textarea>
        <div>
          <label>PDF Link:</label>
          <input
            type="text"
            class="form-control"
            id="skill1"
            [(ngModel)]="pdfLink"
          />
        </div>
        <div>
          <label>Video Link:</label>
          <input
            type="text"
            class="form-control"
            id="skill1"
            [(ngModel)]="videoLink"
          />
        </div>
        <button class="skill-button btn btn-primary" (click)="addSubSkill()">
          Add subskill
        </button>
        <div class="white-border">
          <div>
            <label>Beginner:</label>
            <span *ngIf="newSkill.Skills[0]">
              <span *ngFor="let subskill of newSkill.Skills[0].SubSkills">
                {{ subskill.Description }},
              </span>
            </span>
          </div>
          <div>
            <label>Advanced:</label>
            <span *ngIf="newSkill.Skills[1]">
              <span *ngFor="let subskill of newSkill.Skills[1].SubSkills">
                {{ subskill.Description }},
              </span>
            </span>
          </div>
          <div>
            <label>Expert:</label>
            <span *ngIf="newSkill.Skills[2]">
              <span *ngFor="let subskill of newSkill.Skills[2].SubSkills">
                {{ subskill.Description }},
              </span>
            </span>
          </div>
        </div>
      </div>

      <button class="btn btn-primary save-button" (click)="saveSkill()">
        Save
      </button>
    </div>
  </div>
</div>
