<div class="container mt-5 settings-card">
  <div class="mb-3">
    <div class="header">
      <h4>Login</h4>
    </div>
    <label for="Username" class="form-label">Username</label>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">@</span>
      <input
        type="text"
        id="Username"
        class="form-control"
        [(ngModel)]="userLogin.Username"
        placeholder="{{ userLogin.Username }}"
        aria-label="Username"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>

  <label for="newPassword" class="form-label">Password</label>

  <div class="input-group mb-3">
    <input
      type="password"
      class="form-control"
      aria-describedby="confirmPasswordHelp"
      id="newPassword"
      [(ngModel)]="newPassword"
      *ngIf="!showPassword"
    />
    <input
      type="text"
      class="form-control"
      aria-describedby="confirmPasswordHelp"
      *ngIf="showPassword"
      [(ngModel)]="newPassword"
    />

    <span class="input-group-text" id="basic-addon2"
      ><img
        *ngIf="!showPassword"
        (click)="changeShowPassword()"
        class="eye-icon"
        src="../../../../assets/images/eye-open.png" />
      <img
        *ngIf="showPassword"
        (click)="changeShowPassword()"
        class="eye-icon"
        src="../../../../assets/images/eye-closed.png"
    /></span>
  </div>
  <button (click)="login()" class="btn btn-primary">Login</button>
</div>
