//Imports
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

//Global css reset
*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

//global styles
body {
  background-color: #0d1117;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

button,
a {
  cursor: pointer;
}
