//Imports
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

//Global css reset
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

//global styles
body {
  background-color: #01161e;
  color: white;
}
button,
a {
  cursor: pointer;
}
