<h1 class="completedmessage">
  <span class="yellow">{{ teacher.Username }}</span> has mastered
  <span class="blue"></span>
  <span class="yellow">{{ totalSkills }} %</span> of all Skills
</h1>
<table class="container">
  <thead>
    <tr>
      <th><h1>Topic</h1></th>
      <th><h1>Beginner</h1></th>
      <th><h1>Advanced</h1></th>
      <th><h1>Expert</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let skillgroup of teacher.SkillGroup">
      <td>{{ skillgroup.SkillTopic }}</td>
      <td *ngFor="let skillLevel of skillgroup.Skills">
        <table class="subskills">
          <td>
            <tr
              *ngFor="let subskill of skillLevel.SubSkills"
              class="skill-area"
              [ngClass]="
                subskill.IsChecked ? 'skill-checked' : 'skill-not-checked'
              "
            >
              <span class="skill-description">
                {{ subskill.Description }}
              </span>
            </tr>
          </td>
        </table>
      </td>
    </tr>
  </tbody>
</table>
